@use "sass:color";
@use "partials/colors" as *;
@use "partials/fonts" as *;
@use "partials/breakpoints" as *;
@use "partials/constants" as *;


@keyframes bounce {
    0% { bottom: 0; }
    100% { bottom: 5px; }
}


*
{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    // color: inherit;
    // text-decoration: inherit;
    //font-weight: inherit;
    //@include set-font("cabin");
    //@include set-font("outfit");
    //font-family: inherit;
    font-size: 17px;
    scroll-behavior: smooth;
}




html, body
{
    height: 100%;
}


body
{
    background-color: $black;
    color: $white;
    @include set-font("outfit");
    font-weight: 300;
}


a
{
    color: $pink;
    text-decoration: underline;
    text-decoration-style: dotted;
    font-family: inherit;

    &:hover
    {
        text-decoration: underline;
    }
}


.icon
{
    stroke: $white;
    stroke-width: 0.5px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


#background-layers {
    //background-color: blue;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
    pointer-events: none;

    #background-image {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        $gradient: linear-gradient(to bottom,rgba(255, 255, 255, 0.73) 0%, rgba(255, 0, 183, 0.5) 100%);

        background: $gradient, url("/assets/img/landing.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;

        &:after  {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            backdrop-filter: blur(3px) brightness(25%);
        }
    }


    #particles {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: .15;
    }

}



section
{
    min-height: 330px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    position: relative;

    &:not(#landing) {
        background-color: $black;

        &:after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            max-width: $section-content-max-width + 100px;
            border-bottom: 1px solid rgba(color.adjust($black, $lightness: 20%), .5);
            margin: auto;
        }
    }
    
    .section-content, .header
    {
        max-width: $section-content-max-width;
    }

    .section-content
    {
        //max-width: 500px;
        display: flex;
        flex-direction: column;
        //align-items: center;
        //padding: 40px;
        width: 100%;
        //height: 100%;
    }

    .header
    {
        @include set-font("cabin");
        font-weight: 800;
        font-size: 2rem;
        border-right: 5px solid $pink;
        border-bottom: 3px solid $pink;
        margin-bottom: 20px;
        letter-spacing: 1px;
        text-transform: uppercase;
        padding-bottom: 4px;
        width: 100%;
    }

    .subheader
    { /* Pink text subheaders */
        @include set-font("mozilla-text");
        font-weight: 800;
        text-transform: uppercase;
        color: $pink;
        font-size: 1.4rem;
        margin-bottom: 3px;
        letter-spacing: 2px;
    }

    p {
        //@include set-font("outfit");
        font-size: 1.1rem;
        font-weight: 200;
    }
}


section#landing
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 100dvh;
    overflow: hidden;

    img
    {
        width: 220px;
        margin-bottom: 13px;

        @include at-breakpoint($md) {
            width: 290px;
        }
    }


    .section-content {
        position: relative;
        backdrop-filter: blur(3px) brightness(85%);
        //box-sizing: content-box;
        padding: 35px 25px;
        box-sizing: content-box;
        background-blend-mode: multiply;
        //z-index: 1;

        @mixin set-box-shadow($x, $y, $color: $pink) {
            box-shadow: $x $y $color;
            margin-right: $x;
        }

        @include set-box-shadow(8px, 5px);

        @include at-breakpoint($md) {
            @include set-box-shadow(12px, 5px);
            padding: 40px 70px;
            //box-shadow: 20px 10px $pink;
            //margin-right: 100px;
        }

        &:before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            $shadow1: 8px 7px 5px rgba($black, 0.4);
            $shadow2: -3px -2px 2px rgba($white, 0.05);
            box-shadow: $shadow1, $shadow2;
            pointer-events: none;
        }
    }

    p
    {
        font-size: 1.2rem;
        text-wrap: pretty;
        font-weight: 200;
    }


    #landing-buttons {
        margin-top: 50px;
        display: flex;


        button {
            background-color: transparent;
            border: 1px solid $pink;
            color: $pink;
            padding: 8px 30px;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 1px;
            cursor: pointer;
            transition: background-color .07s ease-out, color .07s ease-out;
            @include set-font("outfit");
            font-weight: 300;

            @include at-breakpoint($sm) {
                min-width: 180px;
            }

            &:hover {
                background-color: $pink;
                color: $white;
            }

            &:not(:first-of-type) {
                margin-left: 10px;
                flex: 1;

                @include at-breakpoint($sm) {
                    flex: unset;
                }
            }
        }
    }



    #down-chevron {
        position: absolute;
        margin-bottom: 25px;
        width: 45px;
        aspect-ratio: 1;
        background-image: url("/assets/icons/downchevron.svg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        stroke: $white !important;
        fill: $white !important;
        animation: bounce 1s infinite ease-in-out alternate;
    }
}


section#about
{
    p
    {
        margin: 12px 0;
        //margin-bottom: 17px;
    }
}


section#why
{
    .quadrant-group
    {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: auto auto;
        grid-gap: 9px;

        .quadrant
        {
            h4
            {
                @include set-font("outfit");
                font-weight: 700;
                font-size: 2.5rem;

                &:after
                {
                    content: ".";
                    color: $pink;
                }
            }
        }
    }
}


section#bigger-picture
{
    align-items: center;

    .section-content {
        align-items: center;
    }

    .bigger-picture-row
    {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
        max-width: fit-content;

        .icon
        {
            height: $goal-icon-size;
            min-width: $goal-icon-size;
            margin-right: 12px;

            &#circled-x
            {
                background-image: url("/assets/icons/circledx.svg");
            }

            &#exclamation-shield
            {
                background-image: url("/assets/icons/exclamationshield.svg");
            }

            &#lightning
            {
                background-image: url("/assets/icons/lightning.svg");
            }
        }

        .bigger-picture-text
        {
            @include at-breakpoint($sm) {
                width: 70%;
            }

            h3, p {
                width: fit-content;
            }
        }
    }
}


section#goals
{

    .section-content
    {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 30px 5px;
        place-items: flex-start center;
        margin-top: 10px;

        @include at-breakpoint($sm)
        {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    .goal
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        //max-width: 270px;
        text-align: center;
        text-wrap: pretty;

        .icon
        {
            width: $goal-icon-size;
            height: $goal-icon-size;
            margin-bottom: 4px;

            &#presentation
            {
                background-image: url("/assets/icons/presentation.svg");
            }

            &#checked-box
            {
                background-image: url("/assets/icons/checkedbox.svg");
            }

            &#community
            {
                background-image: url("/assets/icons/community.svg");
            }
        }
    }
}


section#inspiration
{
    //background-color: transparent !important;

    .section-content
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        img
        {
            border-radius: 3px;
            height: 150px;
        }

        p
        {
            margin-left: 20px;

            a
            {
                font-style: italic;
            }
        }
    }
}


footer
{
    //border-top: 1px solid rgba($white, 0.3);
    width: 100%;
    //padding: 15px;
    //padding: 15px 15px 15px 15px;
    padding: 20px 17px 16px 17px;
    //margin-top: 100px;
    color: $dim-white;
    font-size: .77rem;
    text-align: center;
    //font-weight: 100;
    background-color: $black;


    //min-height: 70px;

    p {
        @include set-font("inter");
        font-weight: 100;

        a
        {
            color: inherit;
            font-family: inherit;
            text-decoration: none;
            font-weight: 200;
            transition: color .05s ease-out;

            &:hover
            {
                text-decoration: none;
                //text-decoration-style: solid;
                color: $pink;
            }
        }
    }

}