@use "colors";
@use "fonts";


* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    color: inherit;
    text-decoration: inherit;
    font-family: inherit;
    font-size: 16px;
}


html, body {
    height: 100%;
}


body {
    background-color: colors.$black;
    color: colors.$white;
    font-family: fonts.$inter;
    /*font-weight: 900;*/
    font-weight: normal;
    font-style: normal;

}


// header {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     padding: 24px 21px;
//
//     nav {
//         flex: 1;
//
//         ul {
//             display: flex;
//             list-style: none;
//             place-content: flex-end;
//
//
//             li {
//                 a {
//                     color: colors.$pink;
//                     font-size: 0.9rem;
//                     text-transform: uppercase;
//                     text-align: center;
//                     margin: 0 4px;
//                     cursor: pointer;
//
//                     /*font-family: "Inter", sans-serif;*/
//
//                     &:hover {
//                         text-decoration: underline;
//                     }
//                 }
//             }
//         }
//     }
// }



#landing {
    border: 1px solid colors.$white;
    margin: 10px;
    // padding: 25px;

    display: flex;
    flex-direction: column;
    // place-self:  center;
    justify-content: center;
    align-items: center;
    // place-content: center;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;


    #landing-content {
        display: flex;
        flex-direction: column;
        place-self: center;
        place-items: center;

        #canvas-container {
            // background-color: colors.$pink;
            width: 200px;
            height: 290px;
            border: 1px solid rgba(colors.$pink, 1);
            border-radius: 20px;
            margin-bottom: 40px;
            // opacity: .7;
            // padding: 0 20px;
            // box-sizing: content-box;
            overflow: hidden;

            canvas {
                // background-color: red !important;
                width: 100%;
                height: 100%;
                opacity: 0.5;
            }
        }

        #landing-text {
            text-align: center;
            // border: 1px solid red;
            display: flex;
            flex-direction: column;
            align-items: center;
            transform: scaleY(0.8);

            h1 {
                font-family: fonts.$gill-sans-condensed;
                font-size: 4.5rem;
                // letter-spacing: 12px;
                letter-spacing: 0.3ch;
                text-transform: uppercase;
                // transform: scaleY(.7);
                // vertical-align: text-bottom;
                // margin: -10px;
                // line-height: 1.1em;
                // padding: .05em 0;

                $bottom-border: 4px solid;
                &:first-child {
                    // border-bottom: $bottom-border colors.$white;
                }

                &:last-child {
                    // border-bottom: $bottom-border colors.$pink;
                }
            }



            // h1 {
            //     font-family: fonts.$gill-sans-condensed;
            //     font-size: 5rem;
            //     letter-spacing: 12px;
            //     text-transform: uppercase;
            //     transform: scaleY(.7);
            //     // transform-style: preserve-3d;
            //     display: grid;
            //     grid-template-rows: 1fr 1fr;
            //     grid-template-columns: min-content;
            //
            //     $bottom-border: 2px solid;
            //
            //     grid-auto-flow: column dense;
            //     // grid-gap: 4px;
            //
            //
            //     span {
            //         // border: 1px solid red;
            //         font-size: inherit;
            //         // border-bottom: $bottom-border colors.$white;
            //     }
            //
            //     span.pink {
            //         font-size: inherit;
            //         // border-bottom: $bottom-border colors.$pink;
            //     }
            // }
            //
            // p {
            //     display: none;
            // }
        }
    }


    #buttons {
        width: 100%;
        // background-color: green;
        display: flex;
        justify-content: space-evenly;
        // align-items: center;
        // gap: 30px;
        column-gap: 10px;
        margin-top: 50px;


        button {
            flex: 1;
            // width: 50%;
            background-color: transparent;
            color: colors.$pink;
            border: 1px solid colors.$pink;
            border-radius: 5px;
            padding: 10px;
            text-transform: uppercase;
            font-size: .75rem;
            font-family: inherit;
            letter-spacing: 1px;
            font-weight: 600;
            text-align: center;
        }
    }

}