@use "colors";
@use "fonts";


* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    // color: inherit;
    // text-decoration: inherit;
    // font-family: inherit;
    font-size: 16px;
}


html, body {
    height: 100%;
}


body {
    background-color: colors.$black;
    color: colors.$white;
    font-family: fonts.$inter;
    font-weight: normal;
    font-style: normal;
}


header {
    height: 400px;
    position: relative;
    background-image: url("/assets/img/header-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30% center;
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    place-content: center;

    #header-text {
        text-align: center;
        display: flex;
        flex-direction: column;
        place-items: center;
        font-size: 1.1rem;

        h1 {
            font-size: 2em;
            @include fonts.gill-sans-styled;
            letter-spacing: 5px;
            text-transform: uppercase;
        }

        p {
            font-family: fonts.$inter;
            max-width: 80%;
            font-size: inherit;
            // font-size: .7em;
        }
    }


    #header-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}