@use "colors";
@use "fonts";


* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    color: inherit;
    text-decoration: inherit;
    font-family: inherit;
    font-size: 16px;
}


html, body {
    height: 100%;
}


body {
    background-color: colors.$black;
    color: colors.$white;
    font-family: fonts.$inter;
    /*font-weight: 900;*/
    font-weight: normal;
    font-style: normal;

}


// header {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     padding: 24px 21px;
//
//     nav {
//         flex: 1;
//
//         ul {
//             display: flex;
//             list-style: none;
//             place-content: flex-end;
//
//
//             li {
//                 a {
//                     color: colors.$pink;
//                     font-size: 0.9rem;
//                     text-transform: uppercase;
//                     text-align: center;
//                     margin: 0 4px;
//                     cursor: pointer;
//
//                     /*font-family: "Inter", sans-serif;*/
//
//                     &:hover {
//                         text-decoration: underline;
//                     }
//                 }
//             }
//         }
//     }
// }



#landing {
    border: 1px solid colors.$white;
    margin: 10px;
    // padding: 25px;

    display: flex;
    flex-direction: column;
    // place-self:  center;
    place-content: center;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;


    #landing-content {
        display: flex;
        flex-direction: column;
        place-self: center;
        place-items: center;

        #landing-image-container {
            background-color: colors.$pink;
            width: 200px;
            height: 290px;
            border-radius: 20px;
            margin-bottom: 40px;
        }

        #landing-text {
            text-align: center;

            h1 {
                font-family: fonts.$gill-sans-condensed;
                font-size: 3.7rem;
                letter-spacing: 4px;
                text-transform: uppercase;
                transform: scaleY(.7);
                /*font-family: "Gill Sans Extra Condensed Bold", monospace;*/
                /*font-size: 25px !important;*/
                /*font-weight: bold;*/

                $bottom-border: 4px solid;

                border-bottom: $bottom-border;


                span.pink {
                    font-size: inherit;
                    border-bottom: $bottom-border colors.$pink;
                }
            }

            p {
                display: none;
            }
        }
    }



}