@use "colors" as *;
@use "fonts" as *;


* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    // color: inherit;
    // text-decoration: inherit;
    // font-family: inherit;
    font-size: 16px;
}


html, body {
    height: 100%;
}


body {
    background-color: $black;
    color: $white;
    //font-family: $inter;
    font-family: $cabin;
    @include cabin-styled;
    //font-weight: 200;
    font-weight: normal;
    font-style: normal;
}


//header {
//    height: 400px;
//    position: relative;
//    background-image: url("/assets/img/header-bg.jpg");
//    background-repeat: no-repeat;
//    background-size: cover;
//    background-position: 30% center;
//    // border: 1px solid red;
//    display: flex;
//    flex-direction: column;
//    place-content: center;
//
//    #header-text {
//        text-align: center;
//        display: flex;
//        flex-direction: column;
//        place-items: center;
//        font-size: 1.1rem;
//
//        h1 {
//            font-size: 2em;
//            @include gill-sans-styled;
//            letter-spacing: 5px;
//            text-transform: uppercase;
//        }
//
//        p {
//            font-family: $inter;
//            max-width: 80%;
//            font-size: inherit;
//            // font-size: .7em;
//        }
//    }
//
//
//    #header-buttons {
//        display: flex;
//        justify-content: center;
//        align-items: center;
//    }
//
//}


section {
    min-height: 500px;
    padding: 40px;

    h3 {
        font-size: 2rem;
        border-right: 5px solid $pink;
        margin-bottom: 13px;
        letter-spacing: 1px;
    }

    &#about p {
        margin-bottom: 13px;
    }
}


section#landing {
    background-color: darkcyan;
    background-image: url("/assets/img/header-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    //align-items: center;
    position: relative;
    //backdrop-filter: brightness(.7);


    //position: relative;
    //width: 100%;

    //img {
    //    width: auto;
    //    height: 100%;
    //    position: absolute;
    //    top: 0;
    //    right: 0;
    //    bottom: 0;
    //    left: 0;
    //}

    &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom :0;
        left: 0;
        background-color: rgba(33, 19, 42, 0.51);
        //z-index: -1;
        //opacity: .6;
    }

    img {
        width: 260px;
        z-index: 1;
        margin-bottom: 10px;
    }

    p {
        max-width: 350px;
        z-index: 1;
        font-size: 1.1rem;
        font-family: $cabin;
        @include cabin-styled;
        //font-variation-settings: "wdth" 10;
    }
}