@use "sass:color";
@use "partials/colors" as *;
@use "partials/fonts" as *;
@use "partials/breakpoints" as *;
@use "partials/constants" as *;
@use "sass:list";
@use "sass:math";


* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


html, body {
    height: 100%;
}


html {
    font-size: 17px;
}


body {
    background-color: $black;
    color: $white;
    @include set-font("outfit");
    font-weight: 300;
}


p {
    //font-family: inherit ;
}


a {
    color: $pink;
    text-decoration: underline;
    text-decoration-style: dotted;
    font-family: inherit;

    &:hover {
        text-decoration: underline;
    }
}


.icon {
    stroke: $white;
    stroke-width: 0.5px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


@mixin create-overlay($position-type: absolute) {
    position: $position-type;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;
    display: block;
}


#background-image {
    @include create-overlay(fixed);
    overflow: hidden;
    z-index: -3;

    $gradient-colors: ($pink, #FFF);
    //background: make-gradient(to bottom, $gradient-colors), url("/assets/img/landing.jpg") no-repeat center;
    background: make-gradient(to bottom, $gradient-colors), url("/assets/img/landing.webp") no-repeat center;
    background-size: cover;

    //mix-blend-mode: multiply;
    background-blend-mode: overlay;
    //filter: blur(5px);
    filter: blur(2px) brightness(30%);

    //&:after {
    //    content: "";
    //    @include create-overlay();
    //    //backdrop-filter: blur(2px) brightness(.5);
    //    //z-index: -2;
    //    //background-color: black;
    //    //background-color: rgba($black, 0.7);
    //    //opacity: 0.85;
    //    //mix-blend-mode: darken;
    //}
}


#particles {
    @include create-overlay(fixed);
    z-index: -1;
    opacity: .4;

    canvas {
        min-width: 100%;
        min-height: 100%;
    }
}


section {
    min-height: 330px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    position: relative;
    overflow: hidden;

    &:not(#landing) {
        background-color: $black;
        position: relative;
        //background-color: rgba($black, 0.4);

        p {
            //font-family: "Times New Roman", serif;
            @include set-font("inter");
            font-weight: 200;
            font-stretch: normal;
            //font-size: 1rem;
            //letter-spacing: 0;
        }

        &:nth-of-type(even) {
            //background-color: transparent;
            background-color: rgba($black, 0.3);
            //backdrop-filter: blur(6px) contrast(105%) brightness(90%);
            //backdrop-filter: blur(5px) contrast(115%) brightness(80%);
            //background-color: red;
            backdrop-filter: blur(6px) brightness(70%);

            p {
                //font-weight: 100;
                //letter-spacing: 0.25px;
            }
        }
    }

    .section-content, .header {
        max-width: $section-content-max-width;
    }

    .section-content {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .header {
        @include set-font("cabin");
        font-weight: 800;
        //font-size: 2rem;
        font-size: 1.7rem;
        border-right: 5px solid $pink;
        border-bottom: 3px solid $pink;
        margin-bottom: 20px;
        letter-spacing: 1px;
        text-transform: uppercase;
        padding-bottom: 4px;
        width: 100%;
    }

    .subheader { /* Pink text subheaders */
        @include set-font("mozilla-text");
        font-weight: 800;
        text-transform: uppercase;
        color: $pink;
        //font-size: 1.4rem;
        font-size: 1.5rem;
        margin-bottom: 3px;
        letter-spacing: 2px;
    }

    p {
        //@include set-font("outfit");
        //@include set-font("inter");
        //@include set-font-by-index(5);
        //font-size: 1.1rem;
        //font-weight: 200;
        //letter-spacing: 1px;
    }
}


section#landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    //height: 100dvh;
    height: 100lvh;
    overflow: hidden;

    .section-content {
        position: relative;
        //backdrop-filter: contrast(130%) blur(5px);
        backdrop-filter: blur(7px) contrast(120%) brightness(64%);
        padding: 35px 25px;
        box-sizing: content-box;
        //display: none;

        @mixin set-box-shadow($x, $y, $color: $pink) {
            box-shadow: $x $y $color;
            margin-right: $x;
        }

        @include set-box-shadow(8px, 5px);

        @include at-breakpoint($md) {
            @include set-box-shadow(12px, 5px);
            padding: 40px 70px;
            //box-shadow: 20px 10px $pink;
            //margin-right: 100px;
        }

        &:before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            $shadow1: 4px 2px 15px rgba($black, 0.7);
            //$shadow1: 4px 3px 3px rgba($black, 0.3);
            $shadow2: 0 0 1px rgba($white, 0.4);
            //box-shadow: $shadow1, $shadow2;
            box-shadow: $shadow1;
            pointer-events: none;
        }


        img {
            width: 220px;
            margin-bottom: 13px;

            @include at-breakpoint($md) {
                width: 290px;
            }
        }

        p {
            font-size: 1.2rem;
            text-wrap: pretty;
            //font-weight: 200;
            font-weight: 300;
        }

    }




    #chevron-container {
        //background-color: orangered;
        position: absolute;
        bottom: 20px;
        //display: block;
        width: 50px;
        height: auto;
        //width: auto;
        //height: 40px;
        aspect-ratio: 2 / 1.5;
        margin-bottom: 10px;
        //opacity: 0.6;
        //    object-fit: fill;
        //transform-origin: center;
        //    filter: drop-shadow(0 -5px 2px red);

        svg#down-chevron {
            object-fit: fill;
            min-width: 100%;
            height: 100%;
            //transform-origin: center;
            //box-shadow: 0 0 5px red;
        }
    }

    #landing-buttons {
        margin-top: 50px;
        display: flex;


        button {
            background-color: transparent;
            border: 1px solid $pink;
            color: $pink;
            padding: 8px 30px;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 1px;
            cursor: pointer;
            transition: background-color .07s ease-out, color .07s ease-out;
            @include set-font("outfit");
            font-weight: 300;

            @include at-breakpoint($sm) {
                min-width: 180px;
            }

            &:hover {
                background-color: $pink;
                color: $white;
            }

            &:first-of-type {
                margin-right: 10px;
                flex: 1;

                @include at-breakpoint($sm) {
                    flex: unset;
                }
            }
        }
    }
}


section#about {
    mask: linear-gradient(to bottom, transparent 0%, white 30%);
    //padding-top: 100px;
    padding-top: 117px;
    //font-size: 16px;

    p {
        margin: 12px 0;
        //margin-bottom: 17px;
        font-size: 1.1rem;
    }
}


section#why {
    padding: 40px 30px;

    .section-content {
        //border: 1px solid cyan;
    }

    .why-section-row {
        //border: 1px solid green;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin: 20px 0;
        column-gap: 12px;


        .quadrant {
            //box-shadow: 1px 1px rgba($pink, 0.5);
            //padding: 10px;
            //margin: 10px;
            max-width: 220px;
            //background-color: red;
            //border: 1px solid red;
            //padding: 20px 10px;

            flex: 1;
            //gap: 100px;

            //justify-content: flex-start;



            h4 {
                @include set-font("outfit");
                font-weight: 700;
                font-size: 2.5rem;
                //background-color: red;

                &:after {
                    content: ".";
                    color: $pink;
                }
            }

            p {
                //display: none;
                //background-color: blue;
                //text-wrap: balance;
                //padding-right: 10px;
                //margin-left: 10px;
                text-wrap: stable;
                font-weight: 300;
                width: 95%;

                //font-weight: normal;



                //text-wrap: pretty;
                //font-size: 0.99rem;
                //font-size: 1.05rem;
                //font-size: 1rem;
                //line-height: 1.1lh;
                //word-spacing: normal;
                //background-color: red;
                //padding-right: 4px;
                //border: 1px solid red;
                //max-width: fit-content;
                //width: min-content;
            }
        }
    }
}


section#bigger-picture {
    align-items: center;

    .section-content {
        align-items: center;
    }

    .bigger-picture-row {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
        max-width: fit-content;

        .icon {
            height: $goal-icon-size;
            min-width: $goal-icon-size;
            margin-right: 12px;

            &#circled-x {
                background-image: url("/assets/icons/circledx.svg");
            }

            &#exclamation-shield {
                background-image: url("/assets/icons/exclamationshield.svg");
            }

            &#lightning {
                background-image: url("/assets/icons/lightning.svg");
            }
        }

        .bigger-picture-text {
            @include at-breakpoint($sm) {
                width: 70%;
            }

            h3, p {
                width: fit-content;
            }
        }
    }
}


section#goals {

    .section-content {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 30px 5px;
        place-items: flex-start center;
        margin-top: 10px;

        @include at-breakpoint($sm) {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    .goal {
        display: flex;
        flex-direction: column;
        align-items: center;
        //max-width: 270px;
        text-align: center;
        text-wrap: pretty;
        transform-origin: top;

        .icon {
            width: $goal-icon-size;
            height: $goal-icon-size;
            margin-bottom: 4px;

            &#presentation {
                background-image: url("/assets/icons/presentation.svg");
            }

            &#checked-box {
                background-image: url("/assets/icons/checkedbox.svg");
            }

            &#community {
                background-image: url("/assets/icons/community.svg");
            }
        }
    }
}


section#instructions {
    .section-content {
        ol {
            margin: 20px 0;
            padding-left: 2ch;

            li {
                margin: 20px 0;
                //display: block;
                //font-family: inherit;
                //letter-spacing: 1px;

                code {
                    display: block;
                    width: fit-content;
                    padding: 3px 10px;
                    @include set-font("jetbrains-mono");
                    background-color: rgba(black, 0.5);
                    margin-top: 3px;
                    font-weight: 100;
                    font-size: .9em;
                    opacity: 0.8;
                    letter-spacing: 1px;
                    border-radius: 2px;
                }
                //display: ;
            }
        }
    }
}


section#inspiration {
    //background-color: transparent !important;

    .section-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        img {
            border-radius: 3px;
            height: 150px;
        }

        p {
            margin-left: 20px;

            a {
                font-style: italic;
            }
        }
    }
}


footer {
    //border-top: 1px solid rgba($white, 0.3);
    width: 100%;
    //padding: 15px;
    //padding: 15px 15px 15px 15px;
    padding: 20px 17px 16px 17px;
    //margin-top: 100px;
    color: $dim-white;
    font-size: .77rem;
    text-align: center;
    //font-weight: 100;
    background-color: $black;


    //min-height: 70px;

    p {
        @include set-font("inter");
        font-weight: 100;

        a {
            color: inherit;
            font-family: inherit;
            text-decoration: none;
            font-weight: 200;
            transition: color .05s ease-out;

            &:hover {
                text-decoration: none;
                //text-decoration-style: solid;
                color: $pink;
            }
        }
    }

}