@use "colors" as *;
@use "fonts" as *;


* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    // color: inherit;
    // text-decoration: inherit;
    // font-family: inherit;
    font-size: 16px;
}


html, body {
    height: 100%;
}


body {
    background-color: $black;
    color: $white;
    //font-family: $inter;
    font-family: $cabin;
    @include cabin-styled;
    //font-weight: 200;
    font-weight: normal;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
}


a {
    color: $pink;
    text-decoration: underline;
    text-decoration-style: dotted;

    &:hover {
        text-decoration: underline;
    }
}


section {
    //min-height: 350px;
    min-height: max(250px, fit-content);
    //height: max-content;
    padding: 40px;
    width: 100%;
    //margin-bottom: 60px;
    display: flex;
    flex-direction: column;

    h2 {
        font-size: 2rem;
        border-right: 5px solid $pink;
        border-bottom: 3px solid $pink;
        margin-bottom: 15px;
        letter-spacing: 1px;
        //width: 100%;
        text-transform: uppercase;
        padding-bottom: 4px;
        //padding-right: 12px;
        //width: fit-content;
        width: 100%;
    }

     h4 {
        font-size: 2.5rem;

        &:after {
            content: ".";
            color: $pink;
        }
    }

    p {
        letter-spacing: 1px;
    }

    &:not(#landing) {
        max-width: 600px;
    }
}


section#landing {
    background-color: darkcyan;
    //background-image: url("/assets/img/header-bg.jpg");
    //background-image: url("https://i.guim.co.uk/img/media/02769e3685d808d313e862c52e8b0a413d3d2b23/0_71_5043_3024/master/5043.jpg?width=1200&height=900&quality=85&auto=format&fit=crop&s=ac2096fe8c2644b7e970c7a45f54dddd");
    background-image: url("/assets/img/bgone.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    min-height: 400px;


    &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom :0;
        left: 0;
        background-color: rgba(28, 21, 59, 0.65);
        //z-index: -1;
        //opacity: .6;
        backdrop-filter: blur(2px) brightness(.5);
    }

    img {
        width: 260px;
        margin-bottom: 10px;
    }

    p {
        max-width: 350px;
        font-size: 1.1rem;
        font-family: $cabin;
        @include cabin-styled;
        //font-variation-settings: "wdth" 10;
    }

    & > * {
        z-index: 1;
    }

    #landing-buttons {
        margin-top: 20px;

        button {
            font-family: inherit;
            text-transform: uppercase;
            padding: 5px 10px;
            cursor: pointer;

            &:not(:last-of-type) {
                margin-right: 5px;
            }
        }
    }
}


section#about {
    p {
        margin-bottom: 13px;
    }
}


section#why {
    .quadrant-group {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        //background-color: red;

        .quadrant
        {
            //margin: 5px;
            margin: 10px 5px;
            //display: block;
            //border: 1px solid blue;
        }
    }
}


section#bigger-picture {
    .bigger-picture-row {
        display: flex;
        align-items: center;
        margin: 20px 0;

        .bigger-picture-icon-container {
            //background-color: gray;
            //border: 1px solid $dim-white;
            border-radius: 5px;
            $size: 65px;
            min-width: $size;
            height: $size;
            margin-right: 10px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .bigger-picture-text {
            h3 {
                text-transform: uppercase;
                color: $pink;
                font-size: 1.3rem;
                margin-bottom: 3px;
                letter-spacing: 2px;
            }
        }
    }
}


section#goals {
    align-items: center;
    //justify-content: center;

    .goals-col {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 15px 0;

        .goals-icon-container {
            border: 1px solid $dim-white;
            border-radius: 5px;
            $size: 120px;
            width: $size;
            min-height: $size;
            margin-bottom: 7px;
        }

        h3, p {
            //padding: 0 30px;
            max-width: 300px;
        }

        h3 {
            text-transform: uppercase;
            color: $pink;
            font-size: 1.3rem;
            margin-bottom: 3px;
            letter-spacing: 2px;
            text-align: center;
            width: 100%;
        }

        p {
            width: 100%;
            text-align: center;
        }
    }
}


section#inspiration {

    align-items: center;
    //justify-content: center;

    p {
        margin-bottom: 20px;
    }

    img {
        width: 100%;
        max-width: 250px;
        border-radius: 5px;
    }
}


footer {
    border-top: 1px solid $dim-white;
    width: 100%;
    padding: 15px;
    color: $dim-white;
    font-size: .9rem;

    a {
        color: inherit;


        &:hover {
            text-decoration-style: solid;
        }
    }
}