@use "sass:color";
@use "partials/colors" as *;
@use "partials/fonts" as *;
@use "partials/breakpoints" as bp;
@use "partials/constants" as *;


@keyframes bounce {
    0% { bottom: 0; }
    100% { bottom: 5px; }
}


*
{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    // color: inherit;
    // text-decoration: inherit;
    //font-weight: inherit;
    //@include set-font("cabin");
    //@include set-font("outfit");
    //font-family: inherit;
    font-size: 17px;
    scroll-behavior: smooth;
}


html, body
{
    height: 100%;
}


body
{
    background-color: $black;
    color: $white;
    //@include set-font("cabin");
    //@include set-font("outfit");
    //@include set-font("jetbrains-mono");
    @include set-font("cabin");
}


a
{
    color: $pink;
    text-decoration: underline;
    text-decoration-style: dotted;

    &:hover
    {
        text-decoration: underline;
    }
}


a, button
{
    //font-family: inherit;
}


.icon
{
    stroke: $white;
    stroke-width: 0.5px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}



section
{
    min-height: 330px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;

    .section-content, .header
    {
        max-width: 600px;
    }

    .section-content
    {
        //max-width: 500px;
        display: flex;
        flex-direction: column;
        //align-items: center;
        //padding: 40px;
        width: 100%;
        //height: 100%;
    }

    .header
    {
        //@include set-font("jetbrains-mono");
        //@include set-font("inter");
        //@include set-font("outfit");
        @include set-font("cabin");
        font-weight: 800;
        //font-weight: inherit;
        //margin-bottom: 100px !important;
        font-size: 2rem;
        border-right: 5px solid $pink;
        border-bottom: 3px solid $pink;
        margin-bottom: 20px;
        letter-spacing: 1px;
        text-transform: uppercase;
        padding-bottom: 4px;
        width: 100%;
    }

    .subheader
    { /* Pink text subheaders */
        @include set-font("mozilla-text");
        font-weight: 800;
        //font-size: 1.4rem !important;
        text-transform: uppercase;
        color: $pink;
        font-size: 1.4rem;
        margin-bottom: 3px;
        letter-spacing: 2px;
    }
}


section#landing
{
    background-image: url("/assets/img/landing.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 100%;
    //max-height: 80dvh;
    //max-height: calc(100dvh - 100px);

    &:after
    {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        backdrop-filter: blur(2px) brightness(15%);
        z-index: 0;

    }

    & > :not(canvas)
    {
        z-index: 2;
    }

    canvas
    {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        opacity: .2;
    }

    img
    {
        width: 290px;
        margin-bottom: 13px;
    }

    p
    {
        font-size: 1.1rem;
        font-weight: 400 !important;
        //font-family: $cabin;
        //@include cabin-styled;
        text-wrap: balance;
        //@include set-font("outfit");
    }


    #landing-buttons {
        margin-top: 50px;
        //background-color: red;
        display: flex;


        button {
            background-color: transparent;
            border: 1px solid $pink;
            border-radius: 5px;
            color: $pink;
            padding: 8px 30px;
            //margin-top: 50px;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 1px;
            cursor: pointer;
            transition: background-color .11s ease-out, color .11s ease-out;
            //max-width

            //max-width: 100px;

            //min-width: 200px;
            width: max-content;
            //width: 100%;

            &:hover {
                background-color: $pink;
                color: $white;

            }

            &:first-of-type {
                //flex: 1;
            }

            &:not(:first-of-type) {
                margin-left: 10px;
                //flex: 1;
            }
        }
    }



    #down-chevron {
        position: absolute;
        margin-bottom: 25px;
        width: 45px;
        aspect-ratio: 1;
        background-image: url("/assets/icons/downchevron.svg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        stroke: $white !important;
        fill: $white !important;
        animation: bounce 1s infinite ease-in-out alternate;
    }
}


section#about
{
    p
    {
        margin-bottom: 13px;
    }
}


section#why
{
    .quadrant-group
    {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: auto auto;
        grid-gap: 10px;

        .quadrant
        {
            h4
            {
                @include set-font("outfit");
                font-weight: 700;
                font-size: 2.5rem;

                &:after
                {
                    content: ".";
                    color: $pink;
                }
            }
        }
    }
}


section#bigger-picture
{
    align-items: center;

    .section-content {
        align-items: center;
    }

    .bigger-picture-row
    {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
        max-width: fit-content;

        .icon
        {
            height: $goal-icon-size;
            min-width: $goal-icon-size;
            margin-right: 12px;

            &#circled-x
            {
                background-image: url("/assets/icons/circledx.svg");
            }

            &#exclamation-shield
            {
                background-image: url("/assets/icons/exclamationshield.svg");
            }

            &#lightning
            {
                background-image: url("/assets/icons/lightning.svg");
            }
        }

        .bigger-picture-text
        {
            //width: fit-content;
            //display: flex;
            //flex-direction: column;
            //justify-content: center;
            //align-items: center;
            //background-color: blue;
            //max-width: 80%;

            //background-color: purple;

            //max-width: fit-content;

            @media screen and (min-width: bp.$bp1) {
                //max-width: calc(100% - ($bigger-picture-icon-size / 2));

                width: 70%;

                //background-color: red;
            }

            h3, p {
                //border: 1px solid cyan;
                width: fit-content;
                //text-wrap: wrap;
            }

            //width: min-content;
            //width: 100%;

            h3 {

                //width: fit-content;

                //background-color: red;
            }

            p {
                //text-wrap: balance;


                //text-wrap: pretty;
                //text-wrap: stable;

                //width: min-content;
                //background-color: pink;
                //max-width: calc(100% - $bigger-picture-icon-size);






            }
        }
    }
}


section#goals
{

    .section-content
    {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 30px 5px;
        place-items: flex-start center;
        margin-top: 10px;

        @media screen and (min-width: 570px)
        {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    .goal
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        //max-width: 270px;
        text-align: center;
        //margin-left: auto;
        //margin-right: auto;
        text-wrap: pretty;

        .icon
        {
            width: $goal-icon-size;
            height: $goal-icon-size;
            margin-bottom: 4px;

            &#presentation
            {
                background-image: url("/assets/icons/presentation.svg");
            }

            &#checked-box
            {
                background-image: url("/assets/icons/checkedbox.svg");
            }

            &#community
            {
                background-image: url("/assets/icons/community.svg");
            }
        }
    }
}


section#inspiration
{
    .section-content
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        img
        {
            border-radius: 5px;
            height: 150px;
        }

        p
        {
            margin-left: 20px;

            a
            {
                font-style: italic;
            }
        }
    }
}


footer
{
    border-top: 1px solid rgba($white, 0.3);
    width: 100%;
    //padding: 15px;
    //padding: 15px 15px 15px 15px;
    padding: 15px 17px;
    //margin-top: 100px;
    color: $dim-white;
    font-size: .9rem;

    //min-height: 70px;

    a
    {
        color: inherit;

        &:hover
        {
            text-decoration-style: solid;
        }
    }
}