@use "colors";
@use "fonts";


* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    color: inherit;
    text-decoration: inherit;
    font-family: inherit;
    font-size: 16px;
}


html, body {
    height: 100%;
}


body {
    background-color: colors.$black;
    color: colors.$white;
    font-family: fonts.$inter;
    /*font-weight: 900;*/
    font-weight: normal;
    font-style: normal;

}


#landing {
    border: 1px solid colors.$white;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;


    #landing-content {
        display: flex;
        flex-direction: column;
        place-self: center;
        place-items: center;

        #canvas-container {
            // background-color: colors.$pink;
            width: 200px;
            height: 290px;
            border: 1px solid rgba(colors.$pink, 1);
            border-radius: 3px;
            margin-bottom: 40px;
            overflow: hidden;

            canvas {
                width: 100%;
                height: 100%;
                opacity: 0.7;
            }
        }

        #landing-text {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            transform: scaleY(0.8);

            h1 {
                font-family: fonts.$gill-sans-condensed;
                font-size: 4.5rem;
                letter-spacing: 0.3ch;
                text-transform: uppercase;
            }
        }
    }


    #buttons {
        width: 100%;
        // background-color: green;
        display: flex;
        justify-content: space-evenly;
        // align-items: center;
        // gap: 30px;
        column-gap: 12px;
        margin-top: 50px;


        button {
            flex: 1;
            // width: 50%;
            background-color: transparent;
            color: colors.$pink;
            border: 1px solid colors.$pink;
            border-radius: 2px;
            padding: 10px;
            text-transform: uppercase;
            font-size: .8rem;
            font-family: inherit;
            letter-spacing: 1px;
            font-weight: 00;
            text-align: center;
            cursor: pointer;
            transition: background-color .1s ease-out, color .1s ease-out;

            &:hover {
                color: colors.$black;
                background-color: colors.$pink;
            }
        }
    }

}