@use "sass:color";
@use "colors" as *;
@use "fonts" as *;



* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    // color: inherit;
    // text-decoration: inherit;
    //font-weight: inherit;
    //@include set-font("cabin");
    //@include set-font("outfit");
    //font-family: inherit;
    font-size: 17px;
    scroll-behavior: smooth;
}


html, body {
    height: 100%;
}


body {
    background-color: $black;
    color: $white;
    //@include set-font("cabin");
    //@include set-font("outfit");
    //@include set-font("jetbrains-mono");
    //display: flex;
    //flex-direction: column;
    //align-items: center;
    @include set-font("cabin");
}


a {
    color: $pink;
    text-decoration: underline;
    text-decoration-style: dotted;

    &:hover {
        text-decoration: underline;
    }
}


a, button {
    font-family: inherit;
}


section {
    min-height: max(250px, fit-content);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    //margin-bottom: 60px;

    .section-content {
        max-width: 500px;
        display: flex;
        flex-direction: column;
        //align-items: center;
        padding: 40px;
        width: 100%;
    }

    .header {
        //@include set-font("jetbrains-mono");
        //@include set-font("inter");
        //@include set-font("outfit");
        @include set-font("cabin");
        font-weight: 800;
        //font-weight: inherit;
        //margin-bottom: 100px !important;
        font-size: 2rem;
        border-right: 5px solid $pink;
        border-bottom: 3px solid $pink;
        margin-bottom: 20px;
        letter-spacing: 1px;
        text-transform: uppercase;
        padding-bottom: 4px;
        //padding-right: 12px;
        width: 100%;
    }

    .subheader {  /* Pink text subheaders */
        @include set-font("mozilla-text");
        font-weight: 800;
        //font-size: 1.4rem !important;
        text-transform: uppercase;
        color: $pink;
        font-size: 1.4rem;
        margin-bottom: 3px;
        letter-spacing: 2px;
    }
}


section#landing {
    background-image: url("/assets/img/landing.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    min-height: 400px;

    &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom :0;
        left: 0;
        backdrop-filter: blur(2px) brightness(15%);
        //backdrop-filter: blur(400px);
        z-index: 0;
        //background-blend-mode: multiply;
        //mix-blend-mode: multiply;
    }

    & > :not(canvas) {
        z-index: 2;
    }

    canvas {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        opacity: .2;
    }

    img {
        width: 260px;
        margin-bottom: 10px;
    }

    p {
        max-width: 350px;
        font-size: 1.1rem;
        //font-family: $cabin;
        //@include cabin-styled;
    }


    #landing-buttons {
        margin-top: 30px;

        button {
            //font-family: inherit;
            text-transform: uppercase;
            //padding: 4px 10px;
            cursor: pointer;
            //background-color: $dim-white;
            //color: $white;
            //color: $black;
            //border-radius: 1px;
            height: 32px;
            width: 120px;
            min-width: fit-content;
            padding: 0 10px;
            color: $white;
            font-size: .3rem;
            text-align: left;
            font-weight: 300;
            letter-spacing: 1px;
            transition: background-color .1s ease-out;
            margin-right: 5px;
            border: 1px solid $pink;
            border-radius: 2px;
            background-color: transparent;

            &:hover {
                background-color: $pink;
            }
        }
    }
}


section#about {
    p {
        margin-bottom: 13px;
    }
}


section#why {
    .quadrant-group {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        //background-color: red;
        grid-gap: 10px;

        .quadrant
        {
            //margin: 5px;
            //margin: 10px 5px;
            //display: block;
            //border: 1px solid blue;

            h4
            {
                @include set-font("outfit");
                font-weight: 700;
                font-size: 2.5rem;

                &:after
                {
                    content: ".";
                    color: $pink;
                }
            }
        }
    }
}


.icon-container {
    //border-radius: 5px;

    //object-fit: contain;


    img {
        width: 100%;
        height: 100%;
        //object-fit: cover;
    }
}


section#bigger-picture {
    .bigger-picture-row {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;

        .bigger-picture-icon-container {
            // background-color: gray;
            // border: 1px solid $dim-white;
            @extend .icon-container;
            $size: 65px;
            min-width: $size;
            height: $size;
            margin-right: 15px;
            text-wrap: stable;
        }

        .bigger-picture-text {
            max-width: 80%;
            text-wrap: balance;
            //h3 {
            //    //text-transform: uppercase;
            //    //color: $pink;
            //    //font-size: 1.3rem;
            //    //margin-bottom: 3px;
            //    //letter-spacing: 2px;
            //}
        }
    }
}


section#goals {
    //display: flex;
    //flex-direction: column;
    //align-items: center;
    //border: 1px solid red;
    //place-item: center;
    //justify-content: center;

    .goal {
        display: flex;
        flex-direction: column;
        align-items: center;
        //margin: 20px 0;
        margin-top: 45px;
        //max-width: 80%;
        max-width: 270px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        text-wrap: stable;

        .goals-icon-container {
            //border: 1px solid $dim-white;
            //border-radius: 5px;
            @extend .icon-container;
            $size: 90px;
            //min-width: $size;
            width: $size;
            height: $size;
            margin-bottom: 4px;
            //filter: drop-shadow(0 0 20px $pink);

            svg {

            }
        }

        p {
        }
    }
}


section#inspiration {

    align-items: center;
    //justify-content: center;
    
    img {
        width: 100%;
        max-width: 250px;
        border-radius: 5px;
    }

    p {
        margin-bottom: 20px;
    }
}


footer {
    border-top: 1px solid $dim-white;
    width: 100%;
    padding: 15px;
    color: $dim-white;
    font-size: .9rem;

    a {
        color: inherit;


        &:hover {
            text-decoration-style: solid;
        }
    }
}