@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Cabin:ital,wght@0,400..700;1,400..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Mozilla+Text:wght@200..700&family=Outfit:wght@100..900&display=swap");
@font-face {
  font-family: "Gill Sans Extra Condensed Bold";
  font-weight: bold;
  src: url("../assets/fonts/GillSansExtraCondensedBold.otf") format("opentype");
}
.gill-sans-font-style {
  font-family: "Gill Sans Extra Condensed Bold", sans-serif;
  transform: scaleY(0.85);
}

.inter-font-style {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.outfit-font-style, section#why .quadrant-group .quadrant h4 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.mozilla-text-font-style, section .subheader {
  font-family: "Mozilla Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: inherit;
  font-style: normal;
}

.jetbrains-mono-font-style {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: inherit;
  font-style: normal;
}

.cabin-font-style, body, section .header {
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-size: 17px;
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

body {
  background-color: #000;
  color: #FFF;
}

a {
  color: #f75590;
  text-decoration: underline;
  text-decoration-style: dotted;
}
a:hover {
  text-decoration: underline;
}

a, button {
  font-family: inherit;
}

.icon {
  stroke: #FFF;
  stroke-width: 0.5px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

section {
  min-height: 330px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}
section .section-content, section .header {
  max-width: 500px;
}
section .section-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
section .header {
  font-weight: 800;
  font-size: 2rem;
  border-right: 5px solid #f75590;
  border-bottom: 3px solid #f75590;
  margin-bottom: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-bottom: 4px;
  width: 100%;
}
section .subheader { /* Pink text subheaders */
  font-weight: 800;
  text-transform: uppercase;
  color: #f75590;
  font-size: 1.4rem;
  margin-bottom: 3px;
  letter-spacing: 2px;
}

section#landing {
  background-image: url("/assets/img/landing.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  min-height: 400px;
}
section#landing:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(2px) brightness(15%);
  z-index: 0;
}
section#landing > :not(canvas) {
  z-index: 2;
}
section#landing canvas {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  opacity: 0.2;
}
section#landing img {
  width: 260px;
  margin-bottom: 10px;
}
section#landing p {
  max-width: 350px;
  font-size: 1.1rem;
}
section#landing #landing-buttons {
  margin-top: 30px;
}
section#landing #landing-buttons button {
  text-transform: uppercase;
  cursor: pointer;
  height: 32px;
  width: 120px;
  min-width: fit-content;
  padding: 0 10px;
  color: #FFF;
  font-size: 0.3rem;
  text-align: center;
  font-weight: 300;
  letter-spacing: 1px;
  transition: background-color 0.1s ease-out;
  margin-right: 5px;
  border: 1px solid #f75590;
  border-radius: 2px;
  background-color: transparent;
}
section#landing #landing-buttons button:hover {
  background-color: #f75590;
}

section#about p {
  margin-bottom: 13px;
}

section#why .quadrant-group {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: auto auto;
  grid-gap: 10px;
}
section#why .quadrant-group .quadrant h4 {
  font-weight: 700;
  font-size: 2.5rem;
}
section#why .quadrant-group .quadrant h4:after {
  content: ".";
  color: #f75590;
}

section#bigger-picture .bigger-picture-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
section#bigger-picture .bigger-picture-row .icon {
  height: 65px;
  min-width: 65px;
  margin-right: 12px;
}
section#bigger-picture .bigger-picture-row .icon#circled-x {
  background-image: url("/assets/icons/CircledX.svg");
}
section#bigger-picture .bigger-picture-row .icon#exclamation-shield {
  background-image: url("/assets/icons/ExclamationShield.svg");
}
section#bigger-picture .bigger-picture-row .icon#lightning {
  background-image: url("/assets/icons/Lightning.svg");
}
section#bigger-picture .bigger-picture-row .bigger-picture-text {
  max-width: 80%;
  text-wrap: balance;
}

section#goals .section-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px 5px;
}
@media screen and (min-width: 570px) {
  section#goals .section-content {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
section#goals .goal {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 270px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-wrap: stable;
}
section#goals .goal .icon {
  width: 87px;
  height: 87px;
  margin-bottom: 4px;
}
section#goals .goal .icon#presentation {
  background-image: url("/assets/icons/Presentation.svg");
}
section#goals .goal .icon#checked-box {
  background-image: url("/assets/icons/CheckedBox.svg");
}
section#goals .goal .icon#community {
  background-image: url("/assets/icons/Community.svg");
}

section#inspiration .section-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
section#inspiration .section-content img {
  border-radius: 5px;
  height: 150px;
}
section#inspiration .section-content p {
  margin-left: 20px;
}
section#inspiration .section-content p a {
  font-style: italic;
}

footer {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  width: 100%;
  padding: 15px;
  color: rgb(229.5, 229.5, 229.5);
  font-size: 0.9rem;
}
footer a {
  color: inherit;
}
footer a:hover {
  text-decoration-style: solid;
}

/*# sourceMappingURL=main.css.map */
