name: Publish
on: workflow_dispatch
jobs:
  sync-branch:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master

      - name: Merge main -> dist
        uses: devmasx/merge-branch@master
        with:
          type: now
          from_branch: main
          target_branch: dist
          github_token: ${{ secrets.GITHUB_TOKEN }}